.main__section {
  width: 100%;
  max-height: 100%;

  padding-top: 30px;
  padding-bottom: 100px;
  text-align: center;

  // background-color: getColor("section-order-service");
  background-image: linear-gradient(90deg, rgb(4, 4, 4), rgba(86, 181, 184, 0)),
    linear-gradient(270deg, rgb(4, 4, 4), rgba(86, 181, 184, 0)),
    url("../../images/main-img.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    color: getColor("white-color");
    // font-family: "EB Garamond", serif;
    font-family: "Caveat", cursive;
    max-width: 696px;
    font-weight: bold;
    font-size: 64px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 72px auto 30px;
  }
}
.conception {
  font-family: "Caveat", cursive;
  color: getColor("white-color");
  font-weight: 400;
  font-size: 64px;
}
.list__about {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.about__img {
  border-radius: 6px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:nth-child(even) {
    margin-top: 50px;
  }
}
.about__link {
  font-family: "Caveat", cursive;
  font-size: 50px;
  cursor: pointer;
  color: rgb(125, 91, 49);
  &:hover {
    color: black;
  }
}
